// Place all the styles related to the ilya controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	font-weight: bold;
}
.row div {
	font-size: 24px;
}

.row tr td {
	font-size: 24px;
}

.top-buffer { margin-top:20px; }